<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Instruments</title>
  </head>

  <body>
    <div class="topnav">
      <a href="/">Dashboard</a>
      <a class="active" href="/user/instruments">Instruments</a>
      <a href="/user/holdings">Holdings</a>
      <a href="/orders">Orders</a>
    </div>

    <div class="container">
      <form id="instrument-form" method="POST" action="/user/addInstrument">
        <div class="row">
          <div class="col-25">
            <label for="fname">Instrument Name</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="RELIANCE INDUSTRIES"
              required
            />
          </div>
        </div>

        <div class="row">
          <input type="submit" value="Add Instrument" />
        </div>
      </form>
    </div>

    <div class="container">
      <table class="table" style="cursor: pointer">
        <thead style="background-color: blue; color: floralwhite">
          <tr>
            <th>Instrument</th>
            <th>LTP</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (let instrument of locals.userInstruments) { %>

          <tr style="color: black">
            <td><%= instrument.name %></td>
            <td><%= instrument.ltp %></td>
            <td>
              <div>
                <form
                  id="delete-form"
                  method="POST"
                  action="/user/deleteInstrument"
                >
                  <button
                    class="button2"
                    name="name"
                    type="submit"
                    value="<%= instrument.name %>"
                  >
                    Remove
                  </button>
                </form>
              </div>

              <button class="button2" onclick="openForm()">Buy</button>
              <div class="form-popup" id="myForm">
                <form class="form-container" method="POST" action="/orders/new">
                  <label for="instrument"><b>Instrument</b></label>
                  <input
                    type="text"
                    placeholder="<%= instrument.name %>"
                    name="instrument"
                    required
                  />

                  <label for="quantity"><b>Quantity</b></label>
                  <input type="number" value="1" name="quantity" required />

                  <label for="price"><b>Price</b></label>
                  <input type="number" value="100.0" name="price" required />

                  <button
                    class="button2"
                    type="submit"
                    name="orderType"
                    value="buy"
                  >
                    Buy
                  </button>
                </form>
                <button type="submit" class="button2" onclick="closeForm()">
                  Close
                </button>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
    </script>
  </body>
</html>
