<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Stock Trade</title>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Dashboard</a>
      <a href="/user/instruments">Instruments</a>
      <a href="/user/holdings">Holdings</a>
      <a href="/orders">Orders</a>
    </div>

    <div class="container">
      <h1>User funds: Rs. <%= locals.funds %></h1>
      <form action="/user/addfund" method="POST">
        <input type="number" name="amount" value="100" required />
        <button class="button2" onclick="submit">Add Funds</button>
      </form>
    </div>
  </body>
</html>
